.settings-headings{
    display: flex;

}

.headings{
    padding: 1rem;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
  }
  
  .modal-content input {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .modal-actions button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal-actions button:first-child {
    background-color: #4caf50;
    color: #fff;
  }
  
  .modal-actions button:last-child {
    background-color: #f44336;
    color: #fff;
  }
  
  .kanji-list {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  